.calculator{
    width: 300px;
    background-color: #b0d3a8;
    margin: 55px auto 15px auto;
    padding: 10px;
    border-radius: 5px;
    display: block;
      
    }
    h1{
      text-align: center;
    }
    
    #layar{
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #cecece;
      font-size: 40px;
      font-weight: bold;
      color: rgb(19, 157, 182);
      padding: 7px 5px;
      text-align: right;
      outline: none;
    }
    
    .container-tombol{
      display: flex;
      flex-wrap: wrap;
    }
    
    .tombol{
      display: flex;
      width: 25%;
      font-size: 20px;
      color: rgb(8, 8, 8);
      border: 1px solid #5f5858;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
    }
    
    .tombol:nth-child(5n+1){
      border-left: 1px solid #d7eeba;
    }
    
    .tombol:hover{
      background-color: #fde67ecb;
      cursor: pointer;
    }
    #nol{
      flex-grow: 5;
    }
    #operator{
      background-color: #e3e6de;
    }
    
    #hitung{
      background-color: ffa64a;
      color: rgb(12, 8, 8);
    }
    
    #hitung:hover{
      background-color: #d3c3b2;
      cursor: pointer;
    }
    
    footer{
      padding: 5px;
    }
    footer li{
      list-style: none;
    }
    footer a{
      color: rgb(111, 190, 209);
    }
    
    /*HP*/
    @media (max-width: 576px){
      .calculator{
        width: 100%;
        height: 100%;
      }
    }
    
    